@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}

.container {
  background-color: #f1f1f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container {
  height: 300px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  /* glassmorphism code */
  background: rgba(172, 103, 131, 0.42);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(67, 61, 139, 0.06);
}

.heading-container {
  width: 30%;
  border-right: 1px solid black;
}

.money-calculator-container {
  width: 70%;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  
}

.heading {
  height: 100%;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2f3645;
}

.currency-option{
  margin-top: 15px;
  padding: 10px;
  border: 1px solid black;
  height: 20%;
  width: 70%;
}

#input-currency{
  width: 70%;
  float: right;
  position: relative;
}
/* note visibility hides the element , but it still takes up space in the layout . 
display : none removes the element from document */
#dynamic-dropdown{
  display: none;
  background-color: aqua;
  width: 70%;
  float: right;
  border: 1px solid black;
}


